{% extends 'home.html' %}
{% load static %}
{% block content %}
<section class="breadCrumbles m-auto">
    <div class="d-flex p-3 ">
        <a class="text-decoration-none px-2 text-dark cursor-pointer" href="{% url 'coppaApp:home' %}">Inicio</a>
        <p class="m-0">/</p>
        <a class="text-decoration-none px-2 text-dark cursor-pointer" href="{% url 'coppaApp:projects' %}">Proyectos</a>
        <p class="m-0">/</p>
        <a class="text-decoration-none px-2 text-dark cursor-pointer" href="{% url 'coppaApp:project_detail' project_id=project.id %}">{{ project.name }}</a>
    </div>
</section>
<section class="containerProjectDetail m-auto w-100 h-auto">
    <div class="projectDetail m-auto col-md-9 col-11 pt-4 ">
        <h3 class="projectDetail__title m-0 m-auto w-auto text-center">{{project.name}} 
        </h3>
        <div class="projectDetail__content pt-4 overflow-hidden">
            {{ project | safe }}

        </div>
    </div>  
</section>

{% endblock %}